body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
#menu button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
#conteudo, #questoes {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 60%;
    text-align: left;
}
